/*wild cards*/
* {
    font-family: Garamond;
    font-size: 18px;
}

/*elements*/
body {
    background-color: rgb(44, 44, 44);
    color: white;
}

a {
    color: gold;
}

/*classes*/
.page-title {
    text-align: center;
    font-size: 75px;
}

.sub-title {
    text-align: center;
    font-weight: bold;
    font-size: 35px;
}

.recipe-container {
    background-color: white;
    color: black;
}

/*ids*/
.food-img {
    width: 600px;
    height: auto;
}

#thor {
    display: flex;
    width: 500px;
    height: auto;
    margin: 0 auto;
}


