/*wild cards*/
* {
    font-family: Garamond;
    font-size: 20px;
    /* border: 1px solid red; */
}

/*elements*/
html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(44, 44, 44);
    color: white;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    max-width: 1900px;
    min-width: 600px;
}

a {
    color: gold;
    text-decoration: none;
}

li {
    list-style-type: none;
}

/*Index page*/
.link-img {
    width: 400px;
    border-radius: 16px;
    margin-bottom: 20px;
}

#food-container {
    flex: auto;
    display: flex;
    justify-content: center;
}

#food-links {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex: auto;
    max-width: 1450px;
}

.recipe-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 28px;
    font-weight: bold;
    padding-bottom: 20px;
}

.page-title {
    text-align: center;
    font-size: 75px;
}

.food-img {
    width: 550px;
    height: auto;
    border-radius: 16px;
}

.page-container {
    display: flex;
    margin: 0 50px;
    border: 3px solid white;
    border-radius: 32px;
    padding: 24px;
    flex-wrap: wrap;
}

.description-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.return-home {
    padding-top: 50px;
}

.recipe-container {
    background-color: white;
    color: black;
    flex: 2;
    border-radius: 16px;
    padding: 0 24px;
    margin-left: 16px
}

/*Footer*/
.footer {
    margin: 0;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.footer a {
    color: white;
}
